[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/embeddedMike
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/embeddedMike
	label-Verified = -1..+1 group user/embeddedMike
	push = group user/embeddedMike
	read = group user/embeddedMike
	rebase = group user/embeddedMike
	removeReviewer = group user/embeddedMike
	submit = group user/embeddedMike
[access "refs/heads/*"]
	create = group user/embeddedMike
	push = +force group user/embeddedMike
	pushMerge = group user/embeddedMike
	read = group user/embeddedMike
[access "refs/tags/*"]
	push = group user/embeddedMike
	push = +force group user/embeddedMike
